{% extends "staffhome.html" %}
{% block body %}
<div class="container">
<form id="form1" name="form1" method="post" action="/view_student1_post">

  <p>&nbsp;</p>
  <table class="">
      <th>Year of join</th>
        <td>
            <label for="select3"></label>
        <select  style="border:2px solid black" name="select3" id="select3" class="form-control">
      <option></option>
            {% for i in range(2010,2030) %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select></td>

      <td colspan="2"><input type="submit" name="button" id="button" value="Submit" class="btn btn-primary"/></td>

    </tr>
  <tr>
      <td><p></p></td>
  </tr>
     <tr>
         <th>Search</th>
 <td><input style="border:2px solid black" type="text" name="textbox10" class="form-control" placeholder="Search" /></td>
    <tr>
      <td colspan="2"><input type="submit" name="button" id="button" value="view" class="btn btn-primary"/></td>
    </tr>
  </table>
  <p>&nbsp;</p>
  <table class="table table-bordered,table table-striped">
    <tr style="background-color: lightblue;">
      <th>Sl_No</th>
      <th>Name</th>
{#        <th>photo</th>#}
      <th>Phone</th>
      <th>Email</th>
         <th>Department</th>
        <th>Branch</th>
        <th>Year</th>
         </tr>
      {% for i in data %}
    <tr>

        <td>{{ loop.index }}</td>
        <td>{{ i['s_name'] }}</td>
{#         <td><img src="{{ data['image'] }}" height="500px" width="500px">#}
        <td>{{ i['phone'] }}</td>
        <td>{{ i['email'] }}</td>
         <td>{{ i['dept_name'] }}</td>
        <td>{{ i['branch_name'] }}</td>
        <td>{{ i['year']}}</td>
    </tr>
      {% endfor %}
  </table>
</form>
  </div>


{% endblock %}
