<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>
			Welcome Administrator
		</title>
	</head>
   <style>
.button	{
	border-radius: 60px;
	background-color:white;
 	padding: 10px 10px;
        font-size:15px;

}
</style>
	<body background="../static/a.jpg">
    <form id="form1" name="form1" method="post" action="">
		<h2 style="color:blue;">Welcome Administrator!</h2>
		<table>
            <tr>
				<td width="239"><a href="#">Home</a>
				</td>
			</tr>

			<tr>
				<td width="239"><a href="/college_registration">ADD COLLEGES</a>
				</td>
			</tr>
			<tr>
				<td><a href="/view_colleges">VIEW COLLEGES</a>
				</td>
			</tr>
			<tr>
				<td width="239"><a href="/view_project">VIEW PROJECTS</a>
				</td>
			</tr>
            <tr>
				<td width="239"><a href="#">Logout</a>
				</td>
			</tr>
		</table>
    </form>
	</body>
</html>