<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Website Layout | ProLibTech</title>
    <link rel="stylesheet" href="/static/ho/style.css" />
      <link rel="stylesheet" href="/static/adminhome/assets/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="/static/adminhome/assets/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="/static/adminhome/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/adminhome/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="/static/adminhome/assets/css/style.css" />
    <link rel="shortcut icon" href="/static/adminhome/assets/images/favicon.png" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
   </head>
<body style="background-image: url('/static/d/Capture.JPG');">
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="#" style="color: orange">ProLibTech</a>
      </div>
      <ul>
        <li><a href="/index_page">Home</a></li>
{#        <li><a href="#">About</a></li>#}
        <li><a href="/index">College/Staff SIGN IN</a></li>
          <li><a href="/all_login">Users SIGN IN</a></li>
          <li style="color:green">Contact:<a href="tel:7025950764">7025950765</a><br>Gmail:<a style="" href="mailto:prolibtech001@gmail.com">prolibtech001@gmail.com</a>
          </ul>
 </div>
</nav>
{##}
{#<div class="search_container">#}
{#</div>#}
{#<div class=results>#}
{#</div>#}
{##}
{#  </div>#}

<div class="container" style="height: 200%;width:200%;" >
{% block body %}
{% endblock %}
</div>
</body>

</html>